﻿@model PlaceManagement.Web.Models.Place

@{
    ViewBag.Title = "Delete";
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Delete Place</h3>
    </div>
    <div class="panel-body">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDateTime)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
    </div>
</div>

