﻿@model PlaceManagement.Web.Models.Place

@{
    ViewBag.Title = "Details";
}

<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Place Details</h3>
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDateTime)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDateTime)
                </dd>
                <dt></dt>

                <dd>
                    @Html.ActionLink("Add Ratings", "AddRating", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("View Ratings", "ViewRatings", new { id = Model.Id }, new { @class = "btn btn-primary btn-sm" })

                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>

