﻿@model IEnumerable<PlaceManagement.Web.Models.PlaceRating>

@{
    ViewBag.Title = "Ratings";
}

<h2>Place Ratings</h2>
@foreach (var item in Model)
{
    <div class="list-group">
        <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">@item.Place.Name</h4>
            <p class="list-group-item-text">
                @item.Comments <br/>
                @item.Ratings <br/>
                @item.Username
            </p>
        </a>
    </div>
}
