﻿@model IEnumerable<PlaceManagement.Web.Models.PlaceRating>

@{
    ViewBag.Title = "ViewRatings";
}

<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewBag.PlaceName - Ratings</h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            @if (!Model.Any())
            {
                <em>No ratings available.</em>
            }

            @foreach (var item in Model)
            {
                <div class="list-group-item">
                    <div class="form-group">
                        <label class="form-label col-lg-4">Username</label>
                        <p class="list-group-item-text">@item.Username</p>
                    </div>
                    <div class="form-group">
                        <label class="form-label col-lg-4">Comments</label>
                        <p class="list-group-item-text">@item.Comments</p>
                    </div>
                    <div class="form-group">
                        <label class="form-label col-lg-4">Ratings</label>
                        <p class="list-group-item-text">@item.Ratings</p>
                    </div>
                </div>
            }
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>

